/**** Diseño Realizado por Luisanaelena Marín ***/

.background-ligth {
    background-color: white;
}

.background-dark {
    background-color: black;
}

.background-ligth2 {
    background-color: #f2f2f2;
}

.background-dark2 {
    background-color: #302F2F;
}

.color-black {
    color: black;
}

.color-ligth {
    color: gray;
}

.color-dark {
    color: white;
}

.color-ligth2 {
    color: #1B4965;
}

.color-ligth3 {
    color: #8A8A8A;
}

.color-dark2 {
    color: white;
}


/*** Home ***/

.course-pro {
    position: absolute;
    top: 25%;
    left: 5%;
}

.course-pro .title {
    color: black;
    font-size: 30px;
}

.course-pro .description {
    font-size: 22px;
    font-weight: 500;
    color: black;
}

.presentation {
    padding: 35px 20px 45px 20px;
    text-align: center;
}

.transformate-pro {
    font-size: 35px;
    font-weight: bold;
}

.slogan {
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
}

.register-button {
    padding: 6px;
    display: block;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    transition: 0.1s ease-in-out;
    font-weight: 700;
    color: white;
    background-color: #2493B5;
    width: 100%;
}

.register-button:hover {
    background-color: white;
    color: #2493B5;
    border: solid #2493B5 1px;
    text-decoration: none;
}

.courses-button {
    padding: 6px;
    display: block;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    transition: 0.1s ease-in-out;
    font-weight: 700;
    color: white;
    background-color: #034a91;
    width: 100%;
}

.courses-button:hover {
    background-color: white;
    color: #034a91;
    border: solid #034a91 1px;
    text-decoration: none;
}

.courses-button-white {
    padding: 15px 45px;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    transition: 0.1s ease-in-out;
    font-weight: 700;
    color: #034a91;
    background-color: white;
    width: 100%;
}

.courses-button-white:hover {
    background-color: #034a91;
    color: white;
    border: solid white 1px;
    text-decoration: none;
}

.register-button-blue {
    padding: 15px 45px;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    transition: 0.1s ease-in-out;
    font-weight: 700;
    color: white;
    background-color: #034a91;
    width: 100%;
}

.register-button-blue:hover {
    background-color: white;
    color: #034a91;
    border: solid #034a91 1px;
    text-decoration: none;
}

.content {
    padding-bottom: 55px;
}

.categories {
    padding: 55px 5px;
}

.category {
    padding-left: 5px;
}

.category a {
    text-decoration: none;
}

.category a:hover {
    text-decoration: none;
}

.category-card {
    min-height: 120px;
}

.category-icon {
    font-size: 40px;
    color: white;
    padding-top: 5px;
}

.category-title {
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.courses {
    padding: 5px 25px;
}

.course {
    padding-left: 10px;
}

.card-background-ligth {
    background-color: white;
}

.card-background-dark {
    background-color: black;
}

.image-div {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 220px;
}

.content-image {
    height: 80% !important;
}

.image-category-div {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #034a91;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0.7;
}

.icon-play-card {
    font-size: 60px;
    color: gray;
    opacity: 0.9;
}

.icon-play-card-small {
    font-size: 40px;
    color: gray;
    opacity: 0.9;
}

.link-play-card:hover i {
    color: #2493B5;
}

.card-body a:hover {
    text-decoration: none;
}

.course-title {
    font-size: 16px;
    font-weight: bold;
    -moz-line-clamp: 2;
    -o-line-clamp: 2;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -o-box-orient: vertical;
}

.course-instructor {
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #5FA8D3;
}

.course-subtitle {
    font-weight: 400;
    line-height: 1.2;
    font-size: 14px;
    -moz-line-clamp: 2;
    -o-line-clamp: 2;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -o-box-orient: vertical;
}

.btn-course {
    width: 100%;
    display: block;
    padding: 10px;
    background-color: #034a91;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.btn-course2{
    padding: 15px;
    background-color: #034a91;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
}

.link-course:hover {
    text-decoration: none;
}

.link-course:hover .btn-course {
    text-decoration: none;
    background-color: white;
    color: #034a91;
    border: solid #034a91 1px;
}

.link-course:hover .btn-course2 {
    text-decoration: none;
    background-color: white;
    color: #034a91;
    border: solid #034a91 1px;
}

.btn-resume {
    width: 100%;
    display: block;
    padding: 10px;
    background-color: #7B57BB;
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
}

.link-course:hover .btn-resume {
    text-decoration: none;
    background-color: #FFF;
    color: #7B57BB;
    border: solid #7B57BB 1px;
}

.btn-show {
    width: 100%;
    display: block;
    padding: 10px;
    background-color: #41a8c4;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.link-course:hover .btn-show {
    text-decoration: none;
    background-color: white;
    color: #41a8c4;
    border: solid #41a8c4 1px;
}

.controls .uk-position-center-left-out {
    left: -20px;
    border-radius: 50%;
    color: black;
}

.controls .uk-position-center-right-out {
    left: 99%;
    border-radius: 50%;
    color: black;
}

.more-courses-div {
    padding-top: 40px;
    padding-bottom: 40px;
}

.more-courses-button {
    padding: 12px 20px;
    background-color: #41a8c4;
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-weight: 500;
}

.more-courses-button:hover {
    text-decoration: none;
    background-color: white;
    color: #41a8c4;
    border: solid #41a8c4 1px;
}

.show-more-button {
    padding: 12px 70px;
    background-color: #41a8c4;
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-weight: 500;
}

.show-more-button:hover {
    text-decoration: none;
    background-color: white;
    color: #41a8c4;
    border: solid #41a8c4 1px;
}

.t-mentor {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}


/*.t-mentor img{
    height: 30em;
}*/

.t-mentor-text {
    position: absolute;
    top: 30%;
    left: 5%;
}

.t-mentor-text .title {
    color: white;
    font-size: 45px;
}

.t-mentor-text .description {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.t-mentor-button-div {
    padding-top: 30px;
    padding-bottom: 30px;
}

.t-mentor-button {
    padding: 10px 40px;
    background-color: #41a8c4;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.t-mentor-button:hover {
    background-color: white;
    color: #41a8c4;
    border: solid #41a8c4 1px;
    text-decoration: none;
}

.best-sellers {
    padding: 30px 0px 50px 0px;
}

.best-sellers-title {
    font-size: 24px;
    font-weight: bold;
}

.best-seller-image-div {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 220px;
}

.best-seller-img {
    width: 100%;
    height: 90%;
}

.best-seller-title {
    font-size: 17px;
    font-weight: bold;
}

.best-seller-instructor {
    font-size: 15px;
    font-style: italic;
}

.best-sellers-cards {
    padding: 20px 5px;
}

.best-seller-card {
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
}

.link-title {
    text-decoration: none;
}


/*** T-Courses ***/

.course-pro-cover {
    height: 550px;
}

.course-pro {
    font-size: 32px;
    font-weight: bold;
}

.course-pro-title {
    padding-top: 15px;
    font-size: 24px;
    font-weight: bold;
}

.course-pro-subtitle {
    font-size: 22px;
}

.button-transformate {
    margin: 0;
    border: none;
    overflow: visible;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 0px;
    vertical-align: middle;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color, border-color;
    font-weight: 700;
    cursor: pointer;
}

.no-link {
    text-decoration: none;
    color: white;
}

.show-more-div {
    text-align: right;
}

.buy-course-div {
    text-align: left;
}

.button-aqua {
    background-color: #41a8c4;
    color: white;
    width: 100%;
}

.button-aqua:hover {
    text-decoration: none;
    background-color: white;
    color: #41a8c4;
    border: solid #41a8c4 1px;
}

.button-blue {
    background-color: #034a91;
    color: white;
    width: 100%;
}

.button-blue:hover {
    text-decoration: none;
    background-color: white;
    color: #034a91;
    border: solid #034a91 1px;
}

.btn-show-more {
    background-color: #41a8c4;
    color: white;
    width: 60%;
}

.btn-show-more:hover {
    text-decoration: none;
    background-color: white;
    color: #41a8c4;
    border: solid #41a8c4 1px;
}

.btn-show-more:hover .no-link {
    text-decoration: none;
    color: #41a8c4;
}

.btn-buy-course {
    background-color: #034a91;
    color: white;
    width: 60%;
}

.btn-buy-course:hover {
    text-decoration: none;
    background-color: white;
    color: #034a91;
    border: solid #034a91 1px;
}

.btn-buy-course:hover .no-link {
    text-decoration: none;
    color: #034a91;
}

.t-courses {
    padding: 20px 25px;
}

.categories-section {
    padding-top: 40px;
}

.t-courses-category {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 5px;
}


/*** T-Mentor ***/

.t-mentor-banner {
    height: 30em;
}

.t-mentor-text-banner {
    position: absolute;
    top: 30%;
}

.t-mentor-text-banner .title {
    color: white;
    font-size: 45px;
}

.t-mentor-text-banner .description {
    font-size: 25px;
    font-weight: 400;
    color: white;
}

.t-mentor-button-blue {
    padding: 10px 40px;
    background-color: #034a91;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.t-mentor-button-blue:hover {
    background-color: white;
    color: #034a91;
    border: solid #034a91 1px;
    text-decoration: none;
}

.t-mentor-button-aqua {
    padding: 10px 40px;
    background-color: #41a8c4;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.t-mentor-button-aqua:hover {
    background-color: white;
    color: #41a8c4;
    border: solid #41a8c4 1px;
    text-decoration: none;
}

.t-mentor-imagen-info {
    padding: 20px 20px 45px 35px;
}

.t-mentor-imagen-info img {
    height: 350px !important;
}

.t-mentor-info {
    background-color: #41a8c4;
    padding: 50px 200px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.t-mentor-info-line {
    border-bottom: solid white 2.5px;
    width: 300px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.t-mentor-route {
    padding: 40px 50px;
}

.t-mentor-route-title {
    font-size: 35px;
    font-weight: bold;
}

.t-mentor-route-number {
    font-size: 32px;
    font-weight: 500;
}

.t-mentor-route-text {
    font-size: 22px;
    font-weight: 400;
}

.t-mentor-route-icon {
    width: 150px;
    height: 150px;
}

.t-mentor-route-lineamientos {
    padding: 50px 25% 20px 25%;
    font-size: 28px;
    font-weight: bold;
}

.t-mentor-route-lineamientos-title {
    padding-bottom: 15px;
}

.t-mentor-route-lineamientos p {
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
}

.t-mentor-route-line {
    border-bottom: solid gray 1.5px;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.t-mentor-banner-final {
    position: absolute;
    top: 30%;
}

.t-mentor-banner-final .title {
    color: white;
    font-size: 45px;
}

.t-mentor-banner-final .description {
    font-size: 25px;
    font-weight: 400;
    color: white;
}

.start-now-button {
    padding: 10px 100px;
}

.t-mentor-final-section {
    background-color: #034a91;
    padding: 50px 200px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}


/*** Búsqueda Personalizada ***/

.category-title-s {
    text-align: center;
    margin-bottom: 15px;
    padding-top: 25px;
}

.category-title-s span {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}


/*** Móvil ***/

@media (min-width: 320px) and (max-width: 640px) {
    .course-pro {
        text-align: left;
        position: absolute;
        top: 40%;
        left: 5%;
    }
    .course-pro .title {
        color: black;
        font-size: 17px;
    }
    .course-pro .description {
        font-size: 14px;
        font-weight: 500;
        color: black;
    }
    .course-pro-buttons {
        padding: 25px 20px;
    }
    .register-button {
        padding: 0px 5px;
        font-size: 14px;
        line-height: 38px;
        text-align: center;
        transition: 0.1s ease-in-out;
        font-weight: bold;
        color: white;
        background-color: #2493B5;
        width: 100%;
    }
    .courses-button {
        padding: 0px 5px;
        font-size: 14px;
        line-height: 38px;
        text-align: center;
        transition: 0.1s ease-in-out;
        font-weight: bold;
        color: white;
        background-color: #034a91;
        width: 100%;
    }
    .transformate-pro {
        font-size: 22px;
    }
    .slogan {
        font-size: 16px;
    }
    .content {
        padding-bottom: 30px;
    }
    .categories {
        padding: 45px 5px;
    }
    .category-card {
        min-height: 95px;
    }
    .category-icon {
        font-size: 30px;
    }
    .category-title {
        font-size: 12px;
    }
    .image-div {
        height: 220px;
    }
    .course-title {
        font-size: 16px;
    }
    .course-instructor {
        font-size: 16px;
    }
    .course-subtitle {
        font-size: 14px;
    }
    /*.t-mentor img{
        height: 20em;
    }*/
    .t-mentor-text {
        top: 35%;
        left: 2%;
    }
    .t-mentor-text .title {
        font-size: 24px;
    }
    .t-mentor-text .description {
        font-size: 14px;
    }
    .t-mentor-button {
        padding: 10px 20px;
        background-color: #41a8c4;
        color: white;
        font-weight: 600;
        font-size: 16px;
    }
    .best-sellers-title {
        font-size: 18px;
    }
    .best-seller-image-div {
        height: 100px;
    }
    .best-seller-img {
        width: 200px;
    }
    .best-seller-title {
        font-size: 14px;
    }
    .best-seller-instructor {
        font-size: 12px;
    }
    .course-pro-cover {
        height: 300px;
    }
    .course-pro {
        font-size: 24px;
    }
    .course-pro-title {
        padding-top: 0px;
        font-size: 18px;
    }
    .course-pro-subtitle {
        font-size: 16px;
    }
    .show-more-div {
        text-align: center;
    }
    .buy-course-div {
        text-align: center;
    }
    .t-courses-category-title {
        padding: 0px 5px 5px 8px;
        font-size: 22px;
        font-weight: 500;
    }
    .t-mentor-banner {
        height: 15em;
    }
    .t-mentor-text-banner {
        text-align: center;
        position: absolute;
        top: 10%;
    }
    .t-mentor-text-banner .title {
        color: white;
        font-size: 25px;
    }
    .t-mentor-text-banner .description {
        font-size: 15px;
        font-weight: 400;
        color: white;
    }
    .t-mentor-imagen-info {
        padding: 20px 5px 35px 5px;
    }
    .t-mentor-imagen-info img {
        height: 150px !important;
    }
    .t-mentor-info {
        padding: 40px 40px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        text-align: justify;
    }
    .t-mentor-route {
        padding: 30px 10px;
    }
    .t-mentor-route-title {
        padding-bottom: 10px;
        font-size: 26px;
        font-weight: bold;
    }
    .t-mentor-route-number {
        font-size: 23px;
        font-weight: 500;
    }
    .t-mentor-route-text {
        font-size: 20px;
        font-weight: 400;
    }
    .t-mentor-route-icon {
        width: 80px;
        height: 80px;
    }
    .t-mentor-route-lineamientos {
        padding: 35px 50px 10px 50px;
        font-size: 22px;
    }
    .t-mentor-route-lineamientos-title {
        padding-bottom: 10px;
    }
    .t-mentor-route-lineamientos p {
        font-size: 16px;
        font-weight: 500;
        text-align: justify;
    }
    .t-mentor-route-line {
        display: none;
    }
    .t-mentor-banner-final {
        position: absolute;
        top: 60%;
    }
    #t-mentor-banner-final-img {
        height: 250px;
    }
    .t-mentor-banner-final .title {
        color: white;
        font-size: 16px;
    }
    .t-mentor-banner-final .description {
        font-size: 14px;
        font-weight: 400;
        color: white;
    }
    .t-mentor-final-section {
        padding: 25px 20px;
        font-size: 25px;
        font-weight: 500;
    }
    .t-mentor-final-section .title {
        color: white;
        font-size: 18px;
    }
    .t-mentor-final-section .description {
        font-size: 15px;
        font-weight: 400;
    }
    .start-now-button {
        padding: 10px 30px;
    }
}


/*** Tablet ***/

@media (min-width: 641px) and (max-width: 960px) {
    .course-pro {
        text-align: left;
        position: absolute;
        top: 15%;
        left: 5%;
    }
    .course-pro .title {
        color: black;
        font-size: 24px;
    }
    .course-pro .description {
        font-size: 20px;
        font-weight: 500;
        color: black;
    }
    .transformate-pro {
        font-size: 24px;
    }
    .slogan {
        font-size: 18px;
    }
    /*.t-mentor img{
        height: 25em;
    }*/
    .t-mentor-text {
        top: 25%;
        left: 2%;
    }
    .t-mentor-text .title {
        font-size: 26px;
    }
    .t-mentor-text .description {
        font-size: 16px;
    }
    .best-seller-img {
        width: 100%;
        height: 220px;
    }
    .show-more-div {
        text-align: center;
    }
    .buy-course-div {
        text-align: center;
    }
    .t-courses-category-list {
        width: 250px;
        text-decoration: none;
    }
}


/*** Fin Nuevo Diseño Index ***/
